.ant-modal-header {
    border-bottom-width: 0;
  }
.ant-modal-footer {
    border-top-width: 0;
    padding: 20px 20px;
}

.ant-modal-body {
    padding: 10px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
}
.modal-text{
    font-weight: 500;
}

.modal-button{
    width: 100px;
}

