.admin-home-content {
  background-color: var(--white-color);
  padding: 20px;
}

.admin-home-icon {
  font-size: 60px;
  color: var(--white-color);
}
.admin-home-number {
  font-size: 40px;
  color: var(--white-color);
  margin: 0px;
}
.admin-home-text {
  color: var(--white-color);
  font-size: 20px;
}

.admin-home-text-list {
  font-size: 24px;
  font-weight: 400;
}

.admin-icon-time {
  font-size: 16px;
  color: var(--link-color);
}
.admin-icon-edit {
  font-size: 16px;
  color: var(--warning-color);
}
.admin-icon-delete {
  font-size: 16px;
  color: var(--error-color);
}
