.admin-home-content{
  background-color: white;
  padding: 20px;
}
 
  .admin-home-icon {
    font-size: 80px;
    color: white;
  }
  .admin-home-box-left {
    background-color:@red-5;
    text-align: center;
    height: 100%;
  }
  .admin-home-box-center {
    background-color:@green-5;
    height: 100%;
    text-align: center;
  }
  .admin-home-box-right {
    background-color:@gold-5;
    text-align: center;
    height: 100%;
  }
  .admin-home-number {
    font-size: 40px;
    color: white;
    margin: 0px;
  }
  .admin-home-text {
    color: white;
    font-size: 20px;
  }

  .admin-home-text-list {
    font-size: 24px;
    font-weight: 400;
  }
  
  .admin-icon-time {
    font-size: 16px;
    // padding-right: 10px;
    color:@blue-6;
  }
  .admin-icon-edit {
    font-size: 16px;
    // padding-right: 10px;
    color:@gold-6;
  }
  .admin-icon-delete {
    font-size: 16px;
    // padding-right: 10px;
    color:@red-6;
  }

  .admin-icon-disabled  {
    font-size: 16px;
    // padding-right: 10px;
    color:#DADADA;
  }