.ant-switch-checked {
  background-color: #52c41a;
}

.ant-form-item-explain.ant-form-item-explain-error {
  font-size: 12px;
}

.ant-form-inline .ant-form-item-with-help {
  margin-bottom: 0;
}

.manage-content{
    background-color: white;
    padding: 20px;
}
.manage-text{
    font-size: 20px;
    font-weight: 400;
    
}
.manage-input{
    width: 40%;
}
.manage-search{
    // width: 100%;
    width: 200px;
}

.manage-icon-insert{
    font-size: 16px;
    padding-right: 10px;
    color: #216258;
  }

  .manage-icon-delete{
    font-size: 16px;
    padding-right: 10px;
    color: red;
  }

  .manage-icon-suspend {
    font-size: 16px;
    padding-right: 10px;
    color: orange;
  }
  .manage-icon-edit{
    font-size: 16px;
    padding-right: 10px;
    color: orange;
  }
 
