@import 'antd/dist/antd.less';
@import './assets/styles/main.less';

.ant-tooltip-inner {
    color: #333333;
    background-color: #fafafa;
}

.ant-tooltip-arrow-content {
    background-color: #fafafa;
}