@import "antd/dist/antd.less";
@import "./assets/styles/main.less";

.ant-tooltip-inner {
  color: #333333;
  background-color: #fafafa;
}

.ant-tooltip-arrow-content {
  background-color: #fafafa;
}

.ant-layout-sider-zero-width-trigger {
  background: #216258;
}
.truncate-text {
  margin-left: 60px;
  margin-right: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
